@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(29, 30, 32);
  --foreground: rgb(196, 196, 197);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  @apply bg-foreground text-background p-3 py-2;
}
